/* TODO Add site wide styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body, height, and root is 100% height of the page
   so anything inside it starts with a single <div> container */
html {
	font-size: 14px;

	font-family: "Roboto", sans-serif;
	color: #e5e3df;
	background-color: rgb(14, 15, 15);
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

#root {
	height: 100%;
}
